<!DOCTYPE html>
<html lang = "en" dir = "ltr">
	<head>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Book search app</title>
		<link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">
	</head>
	<body>
		<header>
			<div>
				<h1 class = "header">Book Search Application</h1>
				<strong>
					<nav>
						<div class = "topnav">
							<a href ="{{ url_for('home')}}">SearchBook</a>
							<a href ="{{ url_for('page')}}">FetchBookList</a>
						</div>
					</nav>
				</strong>
			</div>
		</header>
		<hr>
		{% block content %}<!-- Jinja syntax -->
		{% endblock %}
	</body>
</html>
